.region-content-one {
    width: 70vw;
    margin: auto;
    margin-top: 5%;
    display: block;
    overflow: hidden;
}

.block-views-blockviewbytag-block-2 {
    width: 75%;
    float: left;
}

.block-views-blockviewbytag-block-1 {
    width: 25%;
    float: right;
    padding: 1%;
}

@media only screen and (max-width: 767px) {
    .block-views-blockviewbytag-block-2 {
        width: 100%;
        float: none;
    }
    .block-views-blockviewbytag-block-1 {
        width: 100%;
        float: none;
        padding: 0%;
        margin-top: 10%;
    }
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(1) {
    display: flex;
    padding-bottom: 2%;
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(1) img {
    flex: 1 auto;
    width: 100vw;
    padding-right: 2%;
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(1) .viewbytag-body {
    padding: 0%;
    padding-top: 2%;
}

.block-views-blockviewbytag-block-1 .view-content .views-row,
.block-views-blockviewbytag-trending-by-tag .view-content .views-row {
    margin-bottom: 5%;
    border-bottom: 1px dotted;
}

.block-views-blockviewbytag-block-1 .viewbytag-b2-type-n-date {
    margin-bottom: 0rem;
}

.viewbytag-trending h2 a {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 0.3;
    margin-bottom: 0rem;
    color: black;
    text-decoration: none;
}


/* 
.region-content-one div:nth-child(1) {
    display: flex;
    align-items: center;
    border-bottom: 4px solid black;
    margin-bottom: 3%;
} 
.region-content-one div:nth-child(1) a {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 5px position: relative;
    left: 80%;
}*/

.region-content-one div:nth-child(1) h2 {
    font-size: 50px;
    line-height: 0.7;
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(2) {
    float: left;
    width: 40%;
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(3),
.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(4) {
    float: right;
    width: 60%;
    padding-left: 4%;
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(3) {
    border-bottom: 1px dotted;
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(4) {
    padding-top: 2%;
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(2) h2 a,
.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(3) h2 a,
.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(4) h2 a {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 0%
}

.block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(4) a img {
    display: none;
    visibility: none;
}


/*Mobile*/

@media only screen and (max-width: 767px) {
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(1) {
        display: block;
        padding-bottom: 2%;
    }
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(2),
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(3),
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(4) {
        float: none;
        width: 100%;
    }
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(4) a img {
        display: block;
    }
}


/*Tablet view*/

@media screen and (max-width: 991px) and (min-width: 768px) {
    .region-content-one {
        width: 696px;
        margin: auto;
        margin-top: 5%;
        display: block;
        overflow: hidden;
        max-width: 720px;
    }
    .block-views-blockviewbytag-block-2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .block-views-blockviewbytag-block-1 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(1) {
        display: block;
        padding-bottom: 2%;
    }
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(2) {
        float: none;
        width: auto;
    }
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(3),
    .block-views-blockviewbytag-block-2 div:nth-child(1) .views-row:nth-child(4) {
        float: none;
        width: auto;
        padding-left: 0%;
    }
}